In [1]:
colors = ['red', 'blue', 'green', 'black', 'white']
colors.append('pink')
colors

['red', 'blue', 'green', 'black', 'white', 'pink']

In [2]:
colors.pop() # removes and returns the last item

'pink'

In [3]:
colors.extend(['pink', 'purple']) # extend colors, in-place
colors

['red', 'blue', 'green', 'black', 'white', 'pink', 'purple']

In [4]:
colors = colors[:-2]
colors

['red', 'blue', 'green', 'black', 'white']

In [5]:
rcolors = colors[::-1]
rcolors

['white', 'black', 'green', 'blue', 'red']

In [6]:
rcolors2 = list(colors) # new object that is a copy of colors in a different memory area
rcolors2

['red', 'blue', 'green', 'black', 'white']

In [7]:
rcolors2.reverse() # in-place; reversing rcolors2 does not affect colors
rcolors2

['white', 'black', 'green', 'blue', 'red']

In [8]:
rcolors + colors

['white',
 'black',
 'green',
 'blue',
 'red',
 'red',
 'blue',
 'green',
 'black',
 'white']

In [9]:
rcolors * 2

['white',
 'black',
 'green',
 'blue',
 'red',
 'white',
 'black',
 'green',
 'blue',
 'red']

In [10]:
sorted(rcolors) # new object

['black', 'blue', 'green', 'red', 'white']

In [11]:
rcolors.sort()  # in-place
rcolors

['black', 'blue', 'green', 'red', 'white']

In [ ]:
rcolors.<TAB>


rcolors.<TAB>
                 append()  count()   insert()  reverse()
                 clear()   extend()  pop()     sort()
                 copy()    index()   remove()

In [13]:
s = 'Hello, how are you?'
s = "Hi, what's up"
s = '''Hello,
       how are you'''         # tripling the quotes allows the
                              # string to span more than one line
s = """Hi,
what's up?"""
s

"Hi,\nwhat's up?"

In [16]:
# Strings are collections like lists. Hence they can be indexed and sliced, using the same syntax and rules.
a = "hello"
print(a[0])
print(a[-1])

h
o

In [17]:
a = "hello, world!"
a[3:6] # 3rd to 6th (excluded) elements: elements 3, 4, 5

'lo,'

In [18]:
a[2:10:2] # Syntax: a[start:stop:step]

'lo o'

In [19]:
a[::3] # every three characters, from beginning to end

'hl r!'

In [21]:
# A string is an immutable object and it is not possible to modify its contents. One may however create new strings from the original one.
a = "hello, world!"
a[2] = 'z'

TypeError: 'str' object does not support item assignment

In [22]:
a.replace('l', 'z', 1)

'hezlo, world!'

In [25]:
a.replace('l', 'z')
# Strings have many useful methods, such as a.replace as seen above. 
# Remember the a. object-oriented notation and use tab completion or help(str) to search for new methods.

'hezzo, worzd!'

In [29]:
# String formatting:
'An integer: %i; a float: %f; another string: %s' % (1, 0.1, 'string') # with more values use tuple after %

'An integer: 1; a float: 0.100000; another string: string'

In [27]:
i = 102
filename = 'processing_of_dataset_%d.txt' % i   # no need for tuples with just one value after %
filename

'processing_of_dataset_102.txt'

Dictionaries

In [30]:
tel = {'emmanuelle': 5752, 'sebastian': 5578}
tel['francis'] = 5915
tel

{'emmanuelle': 5752, 'sebastian': 5578, 'francis': 5915}

In [31]:
tel['sebastian']

5578

In [35]:
print(tel.keys())
print(tel.values())
print('francis' in tel)
d = {'a':1, 'b':2, 3:'hello'}
print(d)

dict_keys(['emmanuelle', 'sebastian', 'francis'])
dict_values([5752, 5578, 5915])
True
{'a': 1, 'b': 2, 3: 'hello'}

More container types
Tuples

Tuples are basically immutable lists. The elements of a tuple are written between parentheses, or just separated by commas:

In [40]:
t = 12345, 54321, 'hello!'
print(t)
print(t[0])

u = (0, 2)
print(u)

(12345, 54321, 'hello!')
12345
(0, 2)

In [41]:
# Sets: unordered, unique items:
s = set(('a', 'b', 'c', 'a'))
print(s)
print(s.difference(('a', 'b')))

{'a', 'b', 'c'}
{'c'}

In [43]:
a = [1, 2, 3]
print(a)
a = ['a', 'b', 'c'] # Creates another object.
print(a)
print(id(a))
a[:] = [1, 2, 3] # Modifies object in place.
print(a)
print(id(a))

[1, 2, 3]
['a', 'b', 'c']
140451034044352
[1, 2, 3]
140451034044352